
body
{
    text-align: center;
    background-color: lightsteelblue;
}

button 
{
    padding: 20px 26px;
    background-color: #00b17e;
    border: none;
    margin: 10px;
    border-radius: 10px;
    font-size: 27px;
    transition: background-color 0.3s;
}

button:hover 
{
    background-color: #007a57;
}

div
{
    font-size: 50px;
    background-color: #3c999d85;
    color: #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top:30px;
    padding: 30px;
    max-width: 300px;
    border : 5px #3e3e3e solid;
}
